@{
    if (!WebSecurity.IsAuthenticated) {
        Response.Redirect("~/Account/Login?returnUrl="
            + Request.Url.LocalPath);
    }
    
    string[] TotalPrices = new string[3];
    var db = Database.Open("StarterSite");
    var UserId = WebSecurity.CurrentUserId;
    var selectQueryString = "SELECT Date, Time, Category, Price, MoreInfo FROM Expense WHERE UserId = " + @UserId + " ORDER BY Date DESC, Time DESC";
    var SelectUserCategories = ("SELECT DISTINCT Category FROM Expense, Catagories WHERE UserId = " + @UserId + "SELECT CategoryName FROM Catagories");
    


    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Charts";

 }
<!DOCTYPE html>
<html>
 <head>
   <title>Charts</title>
   <style>
       table, th, td {
         border: solid 1px #bbbbbb;
         border-collapse: collapse;
         padding: 2px;
       }
    </style>
 </head>
 <body>
   <h1>Charts</h1>
       <img src="~/ChartData.cshtml" alt="Sample chart"/>
   <table>
       <thead>
           <tr>
               <th>Date</th>
               <th>Time</th>
               <th>Category</th>
               <th>Price</th>
               <th>More Info</th>
           </tr>
       </thead>
       <tbody>
           @foreach(var row in db.Query(selectQueryString)){
            <tr>
                   <td>@row.Date</td>
                   <td>@row.Time</td>
                   <td>@row.Category</td>
                   <td>@row.Price</td>
                   <td>@row.MoreInfo</td>
            </tr>
           }
       </tbody>
   </table>

     <table>
       <thead>
           <tr>
               @foreach(var row in db.Query(selectQueryString)){

                <th>row.Category</th>
           }
               </tr>
       </thead>
       <tbody>
           @foreach(var row in db.Query(SelectUserCategories)){
            foreach(var row2 in db.Query(selectQueryString)){
                if(row.Category==row2.Category)
                {
                    TotalPrices[row] = "SELECT SUM(Price) AS TotalPrice FROM Expense WHERE Category = " + row.Category;
                }
            }
           }
       </tbody>
   </table>
 </body>
</html>