@{
    if (!WebSecurity.IsAuthenticated) {
        Response.Redirect("~/Account/Login?returnUrl="
            + Request.Url.LocalPath);
    }
    
    var db = Database.Open("StarterSite");
    var CurrentUserId = WebSecurity.CurrentUserId;
    var selectQueryString = "SELECT Date, Time, Category, Price, MoreInfo FROM Expense WHERE UserId = " + @CurrentUserId + " ORDER BY DateTime DESC";

    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Charts";

 }
<!DOCTYPE html>
<html>
 <head>
   <title>Charts</title>
   <style>
       table, th, td {
         border: solid 1px #bbbbbb;
         border-collapse: collapse;
         padding: 2px;
       }
    </style>
 </head>
 <body>
   <h1>Charts</h1>
       <img src="~/ChartData.cshtml" alt="Sample chart"/>
   <table>
       <thead>
           <tr>
               <th>Date</th>
               <th>Time</th>
               <th>Category</th>
               <th>Price</th>
               <th>More Info</th>
           </tr>
       </thead>
       <tbody>
           @foreach(var row in db.Query(selectQueryString)){
            <tr>
                   <td>@row.Date</td>
                   <td>@row.Time</td>
                   <td>@row.Category</td>
                   <td>@row.Price</td>
                   <td>@row.MoreInfo</td>
            </tr>
           }
       </tbody>
   </table>
 </body>
</html>