@{
    var TotalPrices = new Dictionary<string, int>();
    if (!WebSecurity.IsAuthenticated) {
        Response.Redirect("~/Account/Login?returnUrl="
            + Request.Url.LocalPath);
    }
    
    var ChartType="";
    var db = Database.Open("StarterSite");
    var UserId = WebSecurity.CurrentUserId;
    var selectQueryString = "SELECT Date, Time, Category, CAST(Price as decimal(19,2)) as Price, MoreInfo FROM Expense WHERE UserId = " + @UserId + " ORDER BY Date DESC, Time DESC";
    var SelectUserCategories = ("SELECT DISTINCT Category FROM Expense, Catagories WHERE UserId = " + @UserId + "SELECT CategoryName FROM Catagories");

    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Charts";

    if(IsPost)
         ChartType=Request["formChartType"];
         

 }

<!DOCTYPE html>
<html>
 <head>
   <title>Charts</title>
   <style>
       table, th, td {
         border: solid 1px #bbbbbb;
         border-collapse: collapse;
         padding: 2px;
       }
    </style>
 </head>
 <body>
       <form action="" method="post">
         <p>Time Span:
             <select name="formChartType">
                 <option value="Day" >Daily</option>
                 <option value="Month" >Monthly</option>
                 <option value="Year" >Yearly</option>
                 <option value="All" selected>All Expense History</option>
             </select></p>
         <p><input type="submit" value="Enter" /></p>
     </form>
   <h1>Charts</h1>
     @switch(ChartType){
     case "All":<img src="~/Charts/AllChartData.cshtml" alt="Full expense history chart"/>
        break;
     case "Year":<img src="~/Charts/YearGraph.cshtml" alt="Yearly expense history chart"/>
        break;
     case "Month":<img src="~/Charts/MonthGraph.cshtml" alt="Monthy expense history chart"/>
        break;
     case "Day":<img src="~/Charts/DayGraph.cshtml" alt="Daily expense history chart"/>
        break;
     default :<img src="~/Charts/AllChartData.cshtml" alt="Full expense history chart"/>
        break;
     }
     
       
   <table>
       <thead>
           <tr>
               <th>Date</th>
               <th>Time</th>
               <th>Category</th>
               <th>Price</th>
               <th>More Info</th>
           </tr>
       </thead>
       <tbody>
           @foreach(var row in db.Query(selectQueryString)){
            <tr>
                   <td>@row.Date</td>
                   <td>@row.Time</td>
                   <td>@row.Category</td>
                   <td>@row.Price</td>
                   <td>@row.MoreInfo</td>
            </tr>
            }
       

       
       </tbody>
   </table>

 </body>
</html>