@{
    if (!WebSecurity.IsAuthenticated) {
        Response.Redirect("~/Account/Login?returnUrl="
            + Request.Url.LocalPath);
    }

    Validation.RequireField("Date", "Date name is required");
    Validation.RequireField("Time", "Time is required");
    Validation.RequireField("Price", "Price is required");

    Validation.Add("Date", Validator.DateTime("Date must be a valid date"));
    Validation.Add("credits", Validator.DateTime("Time must be a valid time"));


    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Expenses";
}

 @{
     var Date="";
     var Time="";
     var Category="";
     var Price="";
     var MoreInfo="";
     var Priority=4;
     
     int UserId;
     UserId= WebSecurity.CurrentUserId;
     var db1 = Database.Open("StarterSite");
     var SelectUserCategories = ("SELECT DISTINCT Category FROM Expense WHERE UserId = " + @UserId + "UNION SELECT CategoryName FROM Catagories");

     var SelectedData = db1.Query(SelectUserCategories);
       if(IsPost){
         Date=Request["formDate"];
         Time=Request["formTime"];
         Category=Request["formCategory"];
         Price=Request["formPrice"];
         MoreInfo=Request["formMoreInfo"];
         Priority=Convert.ToInt32(Request["formPriority"]);

         if(Priority == 4)
         {
             Priority = db1.QueryValue("SELECT DefaultPriority FROM Catagories WHERE CategoryName = '" + Category + "'");
         }

         
         var SQLINSERT = "INSERT INTO Expense (Date, Time, Category, Price, MoreInfo, Priority, UserId) VALUES (@0, @1, @2, @3, @4, @5,@6)";

         db1.Execute(SQLINSERT, Date, Time, Category, Price, MoreInfo, Priority, UserId);
         Response.Redirect("~/Members/Charts");
       }
     }

<header>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
  </script>

  <!-- From http://keith-wood.name/timeEntry.html -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Scripts/jquery.timeentry.css"> 
    <script type="text/javascript" src="~/Scripts/jquery.plugin.js"></script> 
    <script type="text/javascript" src="~/Scripts/jquery.timeentry.js"></script>
    <script>
        $("#timepicker").timeEntry({show24Hours: true});
    </script>

    </header>

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>This is where you can add a new expense.</h2>

</hgroup>
<body>
     <h1>Add a new expense</h1>
       <form action="" method="post">
         <p>Date: <input type="text" id="datepicker" name="formDate"  value="@DateTime.Now.Date.ToShortDateString()" required/></p>
         <p>Time: <input type="time" id="timepicker"name="formTime"  value="@DateTime.Now.ToShortTimeString()" required/></p>
         <p>Category:
             <select name="formCategory">
                 @foreach(var row in @SelectedData)
                 {
                     <option value="@row.Category">@row.Category</option>
                 }
             </select></p>
         <p>Priority:
             <select name=formPriority>
                 <option value="4">Default</option>
                 <option value="3">Low</option>
                 <option value="2">Medium</option>
                 <option value="1">High</option>
             </select></p>
         <p>Price: <input type="number" name="formPrice" min="0" step="0.01" required/></p>
         <p>More Info: <input type="text" name="formMoreInfo" /></p>
         <p><input type="submit" value="Enter" /></p>
     </form>

</body>